* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #9684A1;
}


/***************** section-one ****************/

.container {
    width: 100%;
    height: 700px;
    padding: 50px;
}

.one {
    background-image: url('../images/header.jpeg');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
}

.grid {
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.one-text {
    display: inline-block;
    position: absolute;
    top: 100px;
    width: 50%;
    margin-right: 20px;
    font-size: 30px;   
}

.sign-in-container {
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 50px;
    width: 380px;
    text-align: center;
    padding: 40px;
    background-color: lightgray;
    border-radius: 2px;
    box-shadow: 0 2px 2px;
}

.sign-in, button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 10px;
}

button {
    background-color: rgb(0, 161, 244);
    border-radius: 5px;
    border-style: none;
}

.toggle {
    color: rgb(0, 161, 244);
    cursor: pointer;
}

/************** section-two *****************/

.two {
    height: 600px;
    padding-top: 70px;
}

.two-image {
    position: absolute;
    width: 45%;
    float: left;
    top: 30px;
    box-shadow: 5px 5px 5px #999999;
}

.two-text {
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    margin-left: 20px;
    font-size: 30px;   
}

/***************** section three ******************/

.three {
    height: 400px;
    background-color: #B6C9BB;
    clip-path: polygon(100% 100%, 100% 0%, 0% 10%, 0 100%);
}

.three-text {
    position: absolute;
    top: 100px;
    font-size: 30px;
}

/******************* animation ******************/
.hidden {
    display: none;
}

.border {
    border: 3px solid darkred;
}
