* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #9684A1;
}


/***************** section-one ****************/
/**** logo ****/
.logo {
    margin: 0 auto;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    border: 3pt solid crimson;
    border-radius: 10pt;
    background-color: antiquewhite;
}

.friend {
    color: #985F99;
    text-shadow: 2px 2px #BFEDC1;
}

.alert {
    color: #BFEDC1;
    text-shadow: 2px 2px #985F99;
}
/****************/

.container {
    width: 100%;
    height: 620px;
    padding: 50px 10px 0 10px;
}

.one {
    background-image:
       linear-gradient(
           to bottom,
         rgba(0, 0, 0, 0.1),
         rgba(0, 0, 0, 0.8)
        ), url('../images/header.jpeg');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
}

.grid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}


.one-text {
    display: inline-block;
    position: absolute;
    top: 100px;
    width: 50%;
    margin-right: 20px;
    font-size: 35pt;
    color: white;
    font-weight: bold;
}

.sign-in-container {
    display: inline-block;
    position: absolute;
    top: 120px;
    right: 0;
    width: 380px;
    text-align: center;
    padding: 40px;
    background-color: lightgray;
    border-radius: 2px;
    box-shadow: 0 2px 2px;
}

.sign-in-message {
    color: red;
    margin-bottom: 20px;
}

.sign-in, button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 10px;
}

button {
    background-color: rgb(0, 161, 244);
    border-radius: 5px;
    border-style: none;
}

.toggle {
    color: rgb(0, 161, 244);
    cursor: pointer;
}

/************** section-two *****************/

.two {
    height: 600px;
    padding-top: 70px;
}

.two-image {
    position: absolute;
    width: 45%;
    top: 30px;
    box-shadow: 5px 5px 5px #999999;
}

.two-text {
    display: inline-block;
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    margin-left: 20px;
    color: #BFEDC1;
    font-size: 32pt;   
}

/***************** section three ******************/
.grid3 {
    display: block;
}

.three {
    height: 400px;
    overflow: hidden;
    background-color: #B6C9BB;
    clip-path: polygon(100% 100%, 100% 0%, 0% 10%, 0 100%);
}

.three-text {
    text-align: center;
    margin-top: 70px;
    font-size: 32px;
    color: #985F99;
}

.git-hub {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.git-hub img {
    width: 70px;
}

/******************* animation ******************/
.hidden {
    display: none;
}