@media only screen and (max-width: 830px){
    .one-text, .two-text, .three-text {
        font-size: 20pt;
    }

    .container {
        height: 550px;
    }

    .three {
        height: 450px;
    }

    .sign-in-container {
        width: 300px;
        padding: 25px;
    }

    .sign-in, button {
        height: 35px;
    }

    .demo{
        height: 45px;
        border-left: 3px solid #362417;
        font-size: 18pt;
    }
}

@media only screen and (max-width: 650px){

    .one-text, .two-text, .three-text {
        font-size: 17pt;
    }

    .container {
        height: 450px;
    }

    .one {
        height: 480px;
    }

    .three {
        height: 370px;
    }

    .sign-in-container {
        top: 100px;
        width: 250px;
        padding: 20px;
    }

    .sign-in, button {
        height: 30px;
    }

    .toggle, .forgot-password {
        font-size: 11pt;
    }

    .demo{
        height: 35px;
        font-size: 15pt;
    }

}

@media only screen and (max-width: 500px){

/************* section one *************/
    .grid {
        display: block;
    }

    .one-text, .two-text, .three-text {
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 15pt;
    }

    .one-text {
        top: 70px;
    }

    .one {
        padding-top: 15px;
        height: 500px;
        background:
            linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.25),
                rgba(0, 0, 0, 0.80)
            ), url('../images/header.jpeg');
        background-size: cover;
        background-attachment: fixed;
    }

    .logo {
        height: 35px;
        width: 180px;
        font-size: 15pt;
    }

    .logo img{
        width: 35px;
    }

    .sign-in-container {
        position: relative;
        display: block;
        top: 150px;
        right: 0;
        margin: 0 auto;
        width: 240px;
        padding: 20px;
    }

    .sign-in-message {
        margin-bottom: 10px;
    }

    .sign-in, button {
        height: 22px;
        font-size: 11pt;
    }

    .sign-in {
        margin-bottom: 15px;
    }

    .toggle{
        margin-bottom: 6px;
    }

    .forgot-password {
        margin-bottom: 0;
    }

/****** section two **********/

    .two{
        padding-top: 10px;
        height: 400px;
    }

    .two-text {
        top: 20px;
    }

    .two-image {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 70%;
        top: 150px;
        right: 0;
    }

/*********** section three *******/

    .three {
        height: 280px;
        padding-top: 50px;
    }

    .three-text {
        position: relative;
        margin: 0;
    }

    .git-hub {
        padding-top: 20px;
    }

    .git-hub img {
        width: 50px;
    }

    .demo{
        height: 25px;
        border-left: 2px solid #362417;
        font-size: 12pt;
    }
}

@media only screen and (max-width: 380px){
    .two-image {
        top: 180px;
    }
}