* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #373F51;
}

/***************** header **************************/
header {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #58A4B0;
}

/****** logo ********/
.logo {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 35px;
    font-family: 'Varela Round','Playfair Display SC', serif;
    color: #000500;
}

.logo img{
    display: inline-block;
    width: 45px;
    margin-right: 7px;
}

a {
    text-decoration: none;
}


/******************* body ************************/
h1 {
    margin-top: 80px;
}
